@use "variables" as v;

.titpro {
    @include v.flex(center, center);
    text-align: center;
    color: v.$rojo;
}

.center {
    @include v.flex(center, center);

}

.row {
    margin-right: 0;
    margin-left: 0;
    text-align: center;

    .card {
        background-color: v.$amarillo;

        .card-img-top {
            width: 30em;
            height: auto;

            a {
                color: v.$azul;
                text-decoration: none;
            }
        }
    }
}