@use "variables" as v;

header {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // justify-items: center;
    // align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

    .logo {
        height: 3vw;
        width: auto;
    }

    .titulo {
        grid-column: 2 / 3;
        font-size: 3rem;
        color: v.$rojo;
    }

    .navbar-collapse {
        @include v.flex(center, center);
        gap: 20px;

        li {
            list-style: none;

            .active {
                font-size: 3vb;
                background-color: v.$amarillo;
                border-radius: 20px;
                padding: 1vb;
            }

            .nav-link{
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @include v.tablet {
        display: flex;
        flex-direction: column;

        .logo {
            height: 10vh;
            width: auto;
        }
    }

    @include v.mobile {
        display: flex;
        flex-direction: column;
        font-size: 10px;

        .logo {
            height: 7vh;
            width: auto;
        }

        .titulo{
            display: none;
        }

        .navbar-toggler{
            font-size: 3vb;
        }

        .navbar {
            font-size: 0.7rem;
        }
    }
}